<header>
  <nav class="navbar navbar-expand-md navbar-dark" style="color: #aad3df;">
    <a class="navbar-brand" href="/">Wiki Map</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <% if (!user) { %>
      <div class="text-inline">
        <a class="btn btn-outline-dark" href="/login" role="button">Login</a>
        <a class="btn btn-outline-dark" href="/register" role="button">Register</a>
      </div>
    <% } else { %>
      <div class="text-right">
        <form method="POST" action="/logout">
          <label for="email"><strong>Welcome <%= user.username %>!</strong></label>
          <a class="btn btn-outline-dark" href="/profile" role="button">Profile</a>
          <a class="btn btn-outline-dark" href="/logout" role="button">Logout</a>
        </form>
      </div>
      <% } %>
  </nav>
</header>
