
<nav id="nav-bar">
  <div class="logo"><span>Wiki Map</span></div>
  <% if (!user.id) { %>
    <div class="functions">
      <a class="btn btn-outline-dark" href="/login/1" role="button">Login</a>
      <a class="btn btn-outline-dark" href="/register" role="button">Register</a>

      <% } else { %>
        <table>

      <form method="POST" action="/logout">
        <label for="email"><strong>Welcome <%= user.username %>!</strong></label>
        <button type="submit" class="btn btn-outline-dark">Logout</button>
      </form>
      <form method="GET" action="/profile">
        <button type="submit" class="btn btn-outline-dark" role="button">Profile</a>
      </form>
    </div>
  </table>
  <% } %>
</nav>

