
<nav id="nav-bar">
  <div class="logo"><span>Wiki Map</span></div>
  <div class="login">
    <a class="btn btn-outline-dark" href="/login" role="button">Login</a>
    <a class="btn btn-outline-dark" href="/register" role="button">Register</a>
  <div id="angle-down-icon">
    <i class="fa-solid fa-angles-down"></i>
  </div>
</div>
</nav>

