<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <!-- CSS -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <!-- Javascript -->
  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/index.js"></script>

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!-- External Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;600&family=Pacifico&display=swap" rel="stylesheet">

  <!-- External Icons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- Leaflet's CSS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
   integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
   crossorigin=""/>

  <!-- Make sure you put this AFTER Leaflet's CSS -->
  <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
  integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
  crossorigin=""></script>

</head>

<body>
  <%- include('partials/_nav') %>

  <header>

  </header>
<br/>
<br/>
  <div class="container">
    <div class="search-bar">
      <div id="select">
        <p id="selectText">All cities</p>
        <span id="img"><i class="fa-solid fa-sort-down"></i></span>
        <ul id="list">
          <li class="options">All cities</li>
          <li class="options">Toronto</li>
          <li class="options">Vancouver</li>
          <li class="options">Calgary</li>
        </ul>
      </div>
      <input type="text" id="inputField" placeholder="Search in all cities...">

    </div>

  </div>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <div class="maps">
  <p id="maps-title"><button type="button" style="all: unset; cursor: pointer;">Discover our maps &nbsp; <i class="fa-solid fa-sort-down"></i></button></p>
  <div id="map-container" class="row">















    <!-- <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <div id="mapid1"></div>
        <div class="card-body">
          <p class="card-text"><b>Map:</b> Best Places to eat around Town<br><b>City:</b> London<br><b>Created By:</b> Username</p>
          <form method="GET" action="/maps">
            <button type="button" class="btn btn-sm btn-outline-secondary">View <i class="fa-solid fa-magnifying-glass"></i></button>
          </form>
          <form method="GET" action="/maps">
            <button type="button" class="btn btn-sm btn-outline-secondary" disabled>Edit <i class="fa-solid fa-pen-to-square"></i></button>
          </form>
          <form method="POST" action="/maps">
            <button type="button" class="btn btn-sm btn-outline-secondary" disabled>Delete <i class="fa-solid fa-trash-can"></i></button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <div id="mapid2"></div>
        <div class="card-body">
          <p class="card-text"><b>Map:</b> Best Mountains to Hike<br><b>City:</b> London<br><b>Created By:</b> Username</p>
          <form method="GET" action="/maps/">
            <button type="button" class="btn btn-sm btn-outline-secondary">View <i class="fa-solid fa-magnifying-glass"></i></button>
          </form>
          <form method="GET" action="/maps/">
            <button type="button" class="btn btn-sm btn-outline-secondary" disabled>Edit <i class="fa-solid fa-pen-to-square"></i></button>
          </form>
          <form method="POST" action="/maps">
            <button type="button" class="btn btn-sm btn-outline-secondary" disabled>Delete <i class="fa-solid fa-trash-can"></i></button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <div id="mapid3"></div>
        <div class="card-body">
          <p class="card-text"><b>Map:</b> Best Parks to visit<br><b>City:</b> London<br><b>Created By:</b> Username</p>
          <form method="GET" action="/maps/3">
            <button type="button" class="btn btn-sm btn-outline-secondary">View <i class="fa-solid fa-magnifying-glass"></i></button>
          </form>
          <form method="GET" action="/maps">
            <button type="button" class="btn btn-sm btn-outline-secondary" disabled>Edit <i class="fa-solid fa-pen-to-square"></i></button>
          </form>
          <form method="POST" action="/maps">
            <button type="button" class="btn btn-sm btn-outline-secondary" disabled>Delete <i class="fa-solid fa-trash-can"></i></button>
          </form>
        </div>
      </div>
    </div> -->
  </div>
  <p id="maps-title">Please Login or Register to discover more <i class="fa-solid fa-caret-up"></i></p>
<br/>
 <!-- Bootstrap JS -->
 <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
 <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>

</html>
