// See: https://sass-lang.com/
@import 'variables';

body,
html {
  margin: 0;
}


header {
  background-image: url('/images/cover_photo.jpg');
  background-size: cover;
  height:480px;
  padding-top:80px;


  .home-page-msg {
    color: $secondary-color;
    padding-top: 25em;
    font-family: $secondary-font;
  }
}

.logo {
  font-family: $primary-font;
  color: white;
  font-size: 30px;

}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $secondary-font;

}

.search-bar {
  background: rgba(216,207,200,255);
  width: 90%;
  height: 5em;
  max-width: 800px;
  display: flex;
  align-items: center;
  padding: 2px;
  border-radius: 4px;
  padding-right: 1em;
}

#select {
  background-color: rgba(216,207,200,255);
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  width: 300px;
  padding: 25px 20px;
  cursor: pointer;
  position: relative;
  border-radius: 4px;
  height: 5em;
  padding-left: 1.5em;
  padding-top: 2.5em;
}

#select ul {
  position: absolute;
  top: 120%;
  left: 0;
  list-style: none;
  background: rgba(216,207,200,255);
  color: grey;
  width: 100%;
  border-radius: 4px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s;
}

#select ul.open {
  max-height: 200px;
}

#img {
  padding-bottom: 1.2em;
}

#select ul li {
  padding: 5px 5px;
  cursor: pointer;
}

.search-bar input {
  padding: 10px 25px;
  width: 100%;
  border: none;
  outline: none;
  font-size: 18px;
}

#nav-bar {
  display: flex;
  height: 100px;
  width: 100%;
  background-color: $primary-background-color;
  color: black;
  padding-right: 1.5em;
  padding-left: 1.5em;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;

  #angle-down-icon {
    color: $secondary-color;
    margin-left: 50%;
    margin-top: 0.5em;
  }

  #angle-down-icon:hover {
    position: relative;
    bottom: -10px;
    cursor: pointer;
  }
}

#maps-title {

  display: flex;
  justify-content: center;
  font-size: larger;
  font-family: $secondary-font;
}

.maps {
  padding-left: 7em;
  padding-right: 7em;
  max-height: 180px;
}

#mapid1 {
  height: 180px;
  padding: 0;
	margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#mapid2 {
  height: 180px;
  padding: 0;
	margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#mapid3 {
  height: 180px;
  padding: 0;
	margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
